body{
  margin: 0;
  padding: 0;

}
header{
background-color: #c4fb6d;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
}
.main-header {
    width: 100%;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}
.left {
    float: left;
    padding-top: 13px;
    padding-bottom: 10px;
}
img{
  width: 180px;
}
.right{
  float: right;
  font-family: Ubuntu,cursive;
}
.right ul li{
  display: inline-block;
padding: 10px 15px 5px 15px;
font-size: 17px;

}
.right a{
  text-decoration: none;
  color: #000;
}

.banner {
  position: relative;

}
.banner img{

  width: 100%;
 height: 500px;
}
.banner-content{
  font-family: Montserrat,cursive;
  color: #ffffff;
  position: absolute;
  font-size: 2.3rem;
   text-shadow: 0 0 0.8em #ffffff, 0 0 0.6em #e4e3e3;
   transform: translate(56%,-197%);

}

.card-section{
  margin: 30px 0;
}
.row{
  width: 100%;
}
.colum{
  width: 23%;
  float: left;
  text-align: center;
  background-color: #c4fb6d;
  margin: 11px;
}
.colum img {
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50px;
}
.imgborder{
  border-top: 5px solid #ffffff;
}
h2{
  padding-top: 30px;
  font-family: Montserrat;
  font-weight: 900;
}
.para{
  padding: 30px;
  font-family: Montserrat;


}

.section-title{
  text-align: center;

}
.section-h2{
padding-top: 80px;
padding-bottom: 30px;
font-family: Montserrat;
}
.section-para{
  font-family: Montserrat;
}

.section-colum{
  width: 23%;
  float: left;
  margin: 11px;
}

.img-heading{
  font-family: Merriweather;
  padding: 10px 0;
}

.title-img{
  width: 100%;
  border-radius: 10%;
}

.img-content{
  font-family: Montserrat;
}

.dis{
  text-align: center;
}
.property{
  background-color: #c4fb6d;
}
.dis-h2{
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: Montserrat;
}
.dis-para{
  font-family: Montserrat;
  font-size: 1.2rem;
}



.property-colum{
  width: 30%;
  float: left;
  margin: 11px;

}
.property-img{
  width: 100%;
  border-radius: 10%;
}
.property-h3{
  font-family: Montserrat;
  font-size: 1.5rem;
  padding-top: 10px;

}
.property-para{
  font-family: Montserrat;
  padding-top: 10px;
  padding-bottom: 10px;
}



.company-dis-h2{
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: Montserrat;
}
.company-dis-para{
  font-family: Montserrat;
  font-size: 1rem;
}

.company-dis{
  text-align: center;
}

.company-colum {
    width: 48%;
    float: left;
    margin: 0 8px;
}

.about-text{
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.5rem;

}
.list{
  padding-left: 0;
  margin-top: 10px;
}
li{
  list-style: none;

  margin-top: 10px;
}
.arrow-point{
  width: 20px;
  float: left;
  padding-right: 10px;
}
.company-img{
  margin-top: 21px;
  height: 300px;
  width: 600px;

}

.myButton {
  background: #75a6c7;
  background-image: -webkit-linear-gradient(top, #75a6c7, #3a6a87);
  background-image: -moz-linear-gradient(top, #75a6c7, #3a6a87);
  background-image: -ms-linear-gradient(top, #75a6c7, #3a6a87);
  background-image: -o-linear-gradient(top, #75a6c7, #3a6a87);
  background-image: linear-gradient(to bottom, #75a6c7, #3a6a87);
  -webkit-border-radius: 41;
  -moz-border-radius: 41;
  border-radius: 41px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.map{
  padding-bottom: 20px;
}

footer{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footercolum{
  width: 23%;
  float: left;
  margin-left: 22px;

}

address{
  color: #ffffff;
  line-height: 1rem;
}

.footer-lists{
  list-style: none;
  padding: 0;
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 2px;
}
a{
  text-decoration: none;
font-family: Montserrat;
color: #ffffff;
padding-top: 50px;
padding-bottom: 50px;
}
a:hover{
  text-shadow: 0 0 0.8em #ffffff, 0 0 0.6em #e4e3e3;
}

.h-5{
  font-family: Montserrat;
  color: #c4fb6d;
  text-shadow: 0 0 0.8em #c4fb6d, 0 0 0.6em #bac964;
  text-align: left;
  padding-left: 40px;
}
.h5{
  font-family: Montserrat;
  color: #c4fb6d;
  text-shadow: 0 0 0.8em #c4fb6d, 0 0 0.6em #bac964;
  text-align: left
}
.company-add{
  font-family: Merriweather;
font-size: 12px;
line-height: 3;
color: #ffffff;

}
h1:hover{
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
text-shadow: 0 0 0.8em #ffffff, 0 0 0.6em #e4e3e3;


}
